<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>India Corona Tracker</title>
</head>
<style>
  .table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
  }

  #icon {
    width: 3%;
  }

  body {
    background-image: url(static/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  input,
  select,
  textarea {
    max-width: 380px;
  }

  button {
    min-width: 100px;
  }

  .innertext {
    margin: 20px;
    font-family: Arial;
    color: #202124;
  }

  a:active {
    color: blue;
  }

  #footer {
    width: 100%;
    background: #c1dcf8;
    color: black;
    font-family: Arial;
    text-align: center;
    padding: 8px;
  }
</style>


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/static/corona.png" id="icon">
    <a class="navbar-brand" href="http://127.0.0.1:5000/">Corona Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/">Home </a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Country
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://127.0.0.1:5000/India">India</a>
          </div>
        </li>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:5000/Coping">Coping <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/AboutUs">About Us </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="table">
    <div class="innertext">
      <h2><b>Coping</b></h2><br /><br />

      <h3>Be kind to your mind</h3>
      Mental health problems are common. Here are some tips to reduce stress and promote wellbeing:
      <br><br>

      <h4>Pause. Breathe. Reflect.</h4>
      Take some slow breaths: in through your nose, then slowly breathe out.

      Slow breathing is one of the best ways to lower stress, because it signals to your brain to relax your body.

      Notice how you are feeling and what you are thinking, without judgment. Instead of responding or reacting to those
      thoughts or feelings, note them, and then let them go.
      <br><br>

      <h4>Connect with others</h4>
      Talking to people you trust can help. Keep in regular contact with people close to you. Tell them how you are
      feeling and share any concerns.
      <br><br>
      <img src="static/image.jpg">
      <br><br>
      <h4>Keep to a healthy routine</h4>
      <b>Do</b>
      <ul>
        <li>Get up and go to bed at similar times every day.</li>
        <li>Keep up with personal hygiene.</li>
        <li>Eat healthy meals at regular times.</li>
        <li>Exercise regularly. Just doing 3-4 minutes of light intensity physical movement, such as walking or
          stretching, will help.</li>
        <li>Allocate time for working and time for resting.</li>
        <li>Make time for doing things you enjoy.</li>
        <li>Take regular breaks from on-screen activities.</li>
      </ul>
      <b>Don't</b>
      <ul>
        <li>Don’t use alcohol and drugs as a way of dealing with fear, anxiety, boredom and social isolation.</li>
      </ul>

      <h4>Be kind to yourself and others</h4>
      Don’t expect too much of yourself on difficult days. Accept that some days you may be more productive than others.

      Try to reduce how much you watch, read or listen to news that makes you feel anxious or distressed. Seek the
      latest information from trusted sources at specific times of the day.

      Helping others can be good for you too. If you are able to, offer support to people in your community who may need
      it.
      <br><br>

      <h4>Reach out for help if you need it</h4>
      Don’t hesitate to seek professional help if you think you need it. A good place to start is your local health
      worker. Help-lines can also be a source of support.
      <br><br>

    <img src="static/image2.jpg" width="70%"> 
    </div>

  </div>

  <div id="footer">This Project Helps us in getting the Updates of Covid-19</div>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
